{% extends 'base.html.twig' %}

{% block author 'SensioTV' %}
{% block description 'Access to your personal preferences.' %}

{% block og_image 'https://university.sensiolabs.com/images/sensiolabs-university-fullwhite.png' %}
{% block og_title 'My Profile' %}
{% block og_description 'Access to your personal preferences.' %}

{% block title 'My Profile' %}

{% block body_attributes 'id="user-dashboard-profile"' %}
{% block body %}
    {{ include('user/dashboard/_sidebar.html.twig', {'currentRoute': app.request.attributes.get('_route')}, with_context = false) }}

    <section id="content" class="bg-light p-5">
        <div class="container-fluid mt-5 mt-md-0 jumbotron">
            <div class="row mb-5">
                <div class="col">
                    <h1 class="display-4 font-weight-bold">Profile</h1>
                    <p class="text-success font-weight-bold">04 Months, 07 Days, 17 Hours spent watching TV</p>
                </div>
            </div>
            <form method="post" class="bg-light img-rounded">
                <div class="row mb-5">
                    <div class="col-lg-4 profile-img my-auto p-5 text-center">
                        <input type="file" class="sr-only" id="_upload_picture">
                        <label for="_upload_picture">
                            <img class="img-fluid img-rounded" src="{{ asset('build/images/user-profile-sigourney-weaver.jpg') }}" alt="Sigourney Weaver Avatar Sample">
                        </label>
                    </div>
                    <div class="col-lg-8 my-auto p-5">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="card-tab" data-toggle="tab" href="#card" role="tab" aria-controls="card" aria-selected="false">Debit card</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active p-3" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row p-2">
                                    <div class="col-md-6">
                                        <label for="_first_name" class="font-weight-bold">First name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" id="_first_name" name="_first_name" class="form-control form-control-sm" placeholder="First name" value="Sigourney" required>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-md-6">
                                        <label for="_last_name" class="font-weight-bold">Last Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" id="_last_name" name="_last_name" class="form-control form-control-sm" placeholder="Last name" value="Weaver" required>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-md-6">
                                        <label for="_email" class="font-weight-bold">Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="email" id="_email" name="_email" class="form-control form-control-sm" placeholder="Email address" value="sigourney.weaver@sensiolabs.com" required>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-md-6">
                                        <label for="_password" class="font-weight-bold">Password</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="password" id="_password" name="_password" class="form-control form-control-sm" placeholder="Password" value="sigourney.weaver@sensiolabs.com" disabled>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-md-6">
                                        <label for="_phone_number" class="font-weight-bold">Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" id="_phone_number" name="_phone_number" class="form-control form-control-sm" placeholder="Phone number" value="06.14.14.14.14" required>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade p-3" id="card" role="tabpanel" aria-labelledby="card-tab">
                                <div class="row p-2">
                                    <div class="col-md-6">
                                        <label for="_card_name" class="font-weight-bold">Name on card</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" id="_card_name" name="_card_name" class="form-control form-control-sm" placeholder="Name on card" value="MS WEAVER SIGOURNEY" required>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-md-6">
                                        <label for="_card_number" class="font-weight-bold">Card number</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" id="_card_number" name="_card_number" class="form-control form-control-sm" placeholder="Card number" value="4706750000000009" required>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-md-6">
                                        <label for="_card_expiration_date" class="font-weight-bold">Expiration Date</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="month" id="_card_expiration_date" name="_card_expiration_date" class="form-control form-control-sm" value="2018-07" required>
                                    </div>
                                </div>
                                <div class="text-right p-2">
                                    <button class="btn btn-sm btn-warning right"><i class="fas fa-trash-alt"></i> Remove your debit card</button>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-sm btn-dark"><i class="fas fa-check-circle"></i> Save your information</button>
                    </div>
                </div>
            </form>
            <div class="row mb-5">
                <div class="col">
                    <form method="post" onsubmit="return confirm('Are you sure you want to delete your account ?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i> Delete your account</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('sidebar') }}

    <!-- Specific JS -->
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v5.0"></script>
{% endblock %}
